<nav class="navbar has-shadow" style="z-index: 5">
  <div class="container">
    <div class="navbar">
      <% @categories.each do |category| %>
        <%= link_to "#{category.name}", search_path(category: category.id), class: "navbar-item"%>
      <% end %>
    </div>
  </div>

</nav>