// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conversation-message {
  margin-bottom: 5px;
  padding: 10px;

  font-size: 15px;
}